.ant-menu-inline-collapsed {
  width: 100% !important;
}

.menu__icon {
  width: 14px;
  height: 14px;
}

.collapsed {
  .menu__icon {
    width: 32px;
    height: 32px;
  }
}

.dark {
  .ant-menu-item,
  .ant-menu-submenu-title {
    color: white !important;
  }

  .ant-menu-item:hover{
    background-color: #454545 !important;
  }

  // .ant-menu-sub {
  //   background-color: black !important;
  // }

  .ant-menu-item.ant-menu-item-selected {
    background-color: #1a82e3;
  }
}
